.text-separator {
  width: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  position: relative;
  margin: 0.8em 0;

  &::before {
    content: " ";
    top: 51%;
    z-index: 1;
    width: 100%;
    display: block;
    position: absolute;
    border-bottom: 1px solid var(--gray-500);
  }

  .content {
    display: flex;
    flex: 0 0 auto;
    position: relative;
    z-index: 2;
    padding: 0.5em 1em;
    background-color: inherit;
  }
}