:root {
  --gray: #{$gray-100};
  --green: #{$green};
  --blue: #{$blue};
  --indigo: #{$indigo};
  --purple: #{$purple};
  --pink: #{$pink};
  --red: #{$red};
  --orange: #{$orange};
  --yellow: #{$yellow};
  --green: #{$green};
  --teal: #{$teal};
  --cyan: #{$cyan};
  --white: #{$white};
  --brown: #{$brown};
  --brown-light: #{$brown-light};
  --gray-100: #{$gray-100};
  --gray-200: #{$gray-200};
  --gray-300: #{$gray-300};
  --gray-400: #{$gray-400};
  --gray-500: #{$gray-500};
  --gray-600: #{$gray-600};
  --gray-700: #{$gray-700};
  --gray-800: #{$gray-800};
  --gray-900: #{$gray-900};
  --black: #{$black};
  --primary-color: #{$primary-color};
  --secondary-color: #{$secondary};
  --success-color: #{$success};
  --info-color: #{$info};
  --warning-color: #{$warning};
  --danger-color: #{$danger};
  --light-color: #{$light};
  --dark-color: #{$dark};
  --footer-bg: #{$footer-bg};
  --hero-bg: #{$hero-bg};
  --primary-button-color: #{primary-button-color};
}

@for $i from 0 through 9 {
  .mt-#{$i*10} { margin-top: $i * 10px; }
  .mr-#{$i*10} { margin-right: $i * 10px; }
  .mb-#{$i*10} { margin-bottom: $i * 10px; }
  .ml-#{$i*10} { margin-left: $i * 10px; }
  .pt-#{$i*10} { padding-top: $i * 10px; }
  .pr-#{$i*10} { padding-right: $i * 10px; }
  .pb-#{$i*10} { padding-bottom: $i * 10px; }
  .pl-#{$i*10} { padding-left: $i * 10px; }
  .mt-#{$i} { margin-top: $i * 1em; }
  .mr-#{$i} { margin-right: $i * 1em; }
  .mb-#{$i} { margin-bottom: $i * 1em; }
  .ml-#{$i} { margin-left: $i * 1em; }
  .pt-#{$i} { padding-top: $i * 1em; }
  .pr-#{$i} { padding-right: $i * 1em; }
  .pb-#{$i} { padding-bottom: $i * 1em; }
  .pl-#{$i} { padding-left: $i * 1em; }
  .mt--#{$i*10} { margin-top: $i * -10px; }
  .mr--#{$i*10} { margin-right: $i * -10px; }
  .mb--#{$i*10} { margin-bottom: $i * -10px; }
  .ml--#{$i*10} { margin-left: $i * -10px; }
  .pt--#{$i*10} { padding-top: $i * -10px; }
  .pr--#{$i*10} { padding-right: $i * -10px; }
  .pb--#{$i*10} { padding-bottom: $i * -10px; }
  .pl--#{$i*10} { padding-left: $i * -10px; }
  .mt--#{$i} { margin-top: $i * -1em !important; }
  .mr--#{$i} { margin-right: $i * -1em !important; }
  .mb--#{$i} { margin-bottom: $i * -1em !important; }
  .ml--#{$i} { margin-left: $i * -1em !important; }
  .pt--#{$i} { padding-top: $i * -1em !important; }
  .pr--#{$i} { padding-right: $i * -1em !important; }
  .pb--#{$i} { padding-bottom: $i * -1em !important; }
  .pl--#{$i} { padding-left: $i * -1em !important; }

  @media screen and (max-width: map-get($grid-breakpoints, 'sm')) {
    .mt-sm-#{$i*10} { margin-top: $i * 10px; }
    .mr-sm-#{$i*10} { margin-right: $i * 10px; }
    .mb-sm-#{$i*10} { margin-bottom: $i * 10px; }
    .ml-sm-#{$i*10} { margin-left: $i * 10px; }
    .pt-sm-#{$i*10} { padding-top: $i * 10px; }
    .pr-sm-#{$i*10} { padding-right: $i * 10px; }
    .pb-sm-#{$i*10} { padding-bottom: $i * 10px; }
    .pl-sm-#{$i*10} { padding-left: $i * 10px; }
    .mt-sm-#{$i} { margin-top: $i * 1em; }
    .mr-sm-#{$i} { margin-right: $i * 1em; }
    .mb-sm-#{$i} { margin-bottom: $i * 1em; }
    .ml-sm-#{$i} { margin-left: $i * 1em; }
    .pt-sm-#{$i} { padding-top: $i * 1em; }
    .pr-sm-#{$i} { padding-right: $i * 1em; }
    .pb-sm-#{$i} { padding-bottom: $i * 1em; }
    .pl-sm-#{$i} { padding-left: $i * 1em; }
    .mt-sm--#{$i*10} { margin-top: $i * -10px; }
    .mr-sm--#{$i*10} { margin-right: $i * -10px; }
    .mb-sm--#{$i*10} { margin-bottom: $i * -10px; }
    .ml-sm--#{$i*10} { margin-left: $i * -10px; }
    .pt-sm--#{$i*10} { padding-top: $i * -10px; }
    .pr-sm--#{$i*10} { padding-right: $i * -10px; }
    .pb-sm--#{$i*10} { padding-bottom: $i * -10px; }
    .pl-sm--#{$i*10} { padding-left: $i * -10px; }
    .mt-sm--#{$i} { margin-top: $i * -1em; }
    .mr-sm--#{$i} { margin-right: $i * -1em; }
    .mb-sm--#{$i} { margin-bottom: $i * -1em; }
    .ml-sm--#{$i} { margin-left: $i * -1em; }
    .pt-sm--#{$i} { padding-top: $i * -1em; }
    .pr-sm--#{$i} { padding-right: $i * -1em; }
    .pb-sm--#{$i} { padding-bottom: $i * -1em; }
    .pl-sm--#{$i} { padding-left: $i * -1em; }
  }
  .index-#{$i} { z-index: $i; position: relative; }
}

.fs-7 {
  font-size: 0.8em;
}

.sr-only {
  display: none;
}
.table-borderless {
  .table-border-bottom {
    tr {
      border-bottom: 1px solid rgba(0,0,0,0.1);
    }
  }
}

@media screen and (max-width: map-get($grid-breakpoints, 'xs')) {
  .btn-xs-block {
    display: block;
  }
}
@media screen and (max-width: map-get($grid-breakpoints, 'sm')) {
  .btn-sm-block {
    display: block;
  } 
}
@media screen and (max-width: map-get($grid-breakpoints, 'md')) {
  .btn-md-block {
    display: block;
  }
}
@media screen and (max-width: map-get($grid-breakpoints, 'lg')) {
  .-block {
    display: block;
  }
}

.text-monospace {
  font-family: 'Cutive Mono', SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
}

/* Icons */
.mdi::before {
  font-size: inherit;
  line-height: 1em;
}

th a .mdi::before {
  font-size: 1.2rem;
  line-height: 0.5rem;
  vertical-align: middle;
}
.btn .mdi::before {
  position: relative;
  /*top: 4px;*/
}
.btn-xs .mdi::before {
  font-size: 1rem;
  top: 0;
}
.btn-sm .mdi::before {
  font-size: 18px;
  top: 3px;
}
.dropdown-menu .mdi {
  width: 18px;
}
.dropdown-menu .mdi::before {
  position: relative;
  top: 4px;
  left: -8px;
}
.nav .mdi::before {
  position: relative;
  top: 4px;
}
.navbar .navbar-toggle .mdi::before {
  position: relative;
  top: 4px;
  color: #fff;
}
.breadcrumb .mdi::before {
  position: relative;
  top: 4px;
}
.breadcrumb a:hover {
  text-decoration: none;
}
.breadcrumb a:hover span {
  text-decoration: underline;
}
.alert .mdi::before {
  position: relative;
  top: 0.1rem;
  margin-right: 2px;
}
.input-group-addon .mdi::before {
  position: relative;
  top: 3px;
}
.navbar-brand .mdi::before {
  position: relative;
  top: 2px;
  margin-right: 2px;
}
.list-group-item .mdi::before {
  position: relative;
  top: 3px;
  left: -3px;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-size: 1rem;
}

a,
button {
  cursor: pointer;
}

a {
  color: #15162d;
  font-weight: 600;
}

a:hover {
  color: #15162d;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

h1 {
  letter-spacing: -1px;
}

h5 {
  font-weight: 600;
  letter-spacing: 0;
}

// ==============================
// Utils Clasess
// ==============================

.btn-info {
  color: white;
}

.bg-inclined {
  position: relative;

  &:before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: -20%;
    left: -40%;
    height: 200%;
    width: 160%;
  }

  &__default-left {
    &:before {
      -webkit-transform: rotate(-1.4deg);
      transform: rotate(-1.4deg);
    }
  }
  &__default-right {
    &:before {
      -webkit-transform: rotate(1.4deg);
      transform: rotate(1.4deg);
    }
  }
  &__small-left {
    &:before {
      -webkit-transform: rotate(-1.4deg);
      transform: rotate(-1.4deg);
    }
  }
  &__small-right {
    &:before {
      -webkit-transform: rotate(1.4deg);
      transform: rotate(1.4deg);
    }
  }

  &--small {
    &:before {
      top: 0%;
      height: 100%;
    }
  }

  &.blue:before {
    background-color: var(--blue);
  }

  &.bg-hero {
    background: none;
    &:before {
      background: var(--hero-bg);
    }
  }

  &.bg-primary {
    background: none !important;
    &:before {
      background: var(--primary-color);
    }
  }

  &.bg-footer-bg {
    background: none;
    &:before {
      background: var(--footer-bg);
    }
  }

  &.bg-brown {
    background: none;
    &:before {
      background: var(--brown);
    }
  }
  
  &.bg-brown-light {
    background: none;
    &:before {
      background: var(--brown-light);
    }
  }

  &.bg-white {
    background: none;
    &:before {
      background: var(--white);
    }
  }
}

.container-fluid.hero {
  margin-left: -15px;
  margin-right: -15px;
}


.bg-color {
  &.blue {
    background-color: var(--blue);
  }

  &.bg-hero {
    background: var(--hero-bg);
  }

  &.bg-primary {
    background: var(--primary-color);
  }

  &.bg-footer-bg {
    background: var(--footer-bg);
  }

  &.bg-brown {
    background: var(--brown);
  }
  
  &.bg-brown-light {
    background: var(--brown-light);
  }

  &.bg-white {
    background: var(--white);
  }
}

.form-group {
  label {
    padding-top: 0.5em;
    padding-left: 0.9em;
  }
}

.btn-group {
  &.btn-group-vertical.border-radius-none {
    .btn {
      border-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
      border-top-right-radius: 0 !important;
      border-top-left-radius: 0 !important;
    }
  }
}

.list-no-bullets {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
}