.hts {
  transition: all 1s ease-out;   
  
  @media only screen and (min-width: 575px) {
    margin-right: calc(var(--bs-gutter-x, 0.75rem) * -1);
  }

  &__steps {
    h3 {
      text-align: center;
    }
    @media only screen and (min-width: 575px) {
      h3 {
        text-align: left;
      }
    }
  }

  .hero {
    color: var(--white);
    margin-bottom: 3em;
    &:before {
      padding-bottom: 2em;
      box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.25);
    }
    
    h1 {
      color: var(--white);
    }
  }

  &__step-circle {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;

    span {
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      width: 100px;
      height: 100px;
      font-size: 40px;
      border: 1px solid var(--gray-500);
      border-radius: 100%;
      background-color: var(--orange);
    }

    &--small {
      span {
        width: 80px;
        height: 80px;
        font-size: 30px;
      }
    }
  }
}