/*!
 * PantacorHub Custom Styles
 * Based on Bootstrap v5.0.0-beta (https://getbootstrap.com)
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

@import "./styles/variables";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "./styles/generals";

html {
  overflow-y: scroll;
  font-family: $font-family-base;
}

body {
  background-color: none;
}

.input-group {
  .input-group-append {
    .btn {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.minimal-height {
  padding-top: 0;
  @media screen and (min-width: 576px) {
    padding-top: 0;
    min-height: 90vh;
  }
}

.bg-brown {
  background-color: var(--brown);
}

.login {
  .form-group {
    padding: 0.1em 0;
  }
  .card-body h1 {
    margin-bottom: 1em;
  }
}

.signup {
  .form-group {
    padding: 0.1em 0;
  }
}

.card {
  border: none;
  box-shadow: none;
  background-color: var(--white);
  
  &-xl {
    padding: 1em;
    @media screen and (min-width: 576px) {
      padding: 2em;
    }
  }

.desktop {
  overflow: hidden;
}
  
  @media screen and (max-width: 576px){
    background: none !important;
    border: none;
    box-shadow: none;
    
    .card-body {
      margin: 0;
      padding: 0;
    }
  }
}

.table-responsive {
  overflow-x: visible;
  @media screen and (max-width: 576px) {
    max-width: 92vw;
    overflow-x: auto;
  }
}

.text-purple {
  color: var(--purple);
}

.status-badge { 
  text-transform: uppercase;
}

.badge-success {
  color: #fff;
  background-color: #5fba7d;
  font-weight: 400;
}

.badge-danger {
  color: #fff;
  background-color: $color-danger;
  font-weight: 400;
}

.badge-warning {
  color: #fff;
  background-color: #ffd451;
  font-weight: 400;
}

.badge-secondary {
  color: #fff;
  background-color: #c0c8d0;
  font-weight: 400;
}

.badge-info {
  color: #fff;
  background-color: var(--bs-info);
  font-weight: 400;
}

.thead-inverse th {
  color: #fff;
  background-color: #8c9fb1;
}

.table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.025);
}

.btn-danger {
  color: #fff;
  background-color: #ff6978;
  border-color: #ff6978;
}

.btn-success {
  color: #fff;
  background-color: #5fba7d;
  border-color: #5fba7d;
}

.borderless td,
.borderless th {
  border: none;
  padding: 0.5rem 0rem;
}

/* Pagination */

.pagination {
  margin: 3rem 0rem 1rem 0rem;
}

.pagination {
  .page-item select {
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-left: 1em;
    padding-right: 0.5em;
  }

  .mdi::before {
    font-size: 1.3rem;
    line-height: 1.1rem;
    position: relative;
    top: 0.2rem;
  }
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #3973c3;
  background-color: #fff;
  border: 1px solid #ddd;
}

/* Primary Navbar */
.ios #navbar-main {
  padding-top: 2.5em;

  &::before {
    height: 120px;
  }
}

#navbar-main {
  overflow: visible;
  z-index: 10;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 1em;
  background-color: white;
  height: 80px;

  &::before {
    background-color: white;
    height: 100px;
    
    @media screen and (min-width: 576px) {
      height: 260%;
      top: -100%;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
    }
  }

  @media only screen and (min-width: 575px) {
    margin-bottom: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: none;
  }

  .navbar-brand {
    img {
      height: 20px;
    }
    @media only screen and (min-width: 575px) {
      margin-right: 3rem;
      margin-left: 15px;
      position: relative;
      top: 2px;
      img {
        height: 38px;
      }
    }
  }

  .navbar-toggler-icon .mdi::before {
    padding-top: 2px;
    font-size: 1.3em;
    vertical-align: middle;
  }

  .navigation-main {
    position: relative;
    top: 12px;
    transition: all 1s ease-out; 
    flex-direction: row-reverse;
    padding-left: 0;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: -12px;
    margin-right: -12px;
    box-shadow: 4px 0 4px var(--bs-gray-500);
    
    @media screen and (min-width: 575px) {
      top: 0px;
      padding-left: 0px;
      padding-left: 0;
      background-color: white;
      padding-left: 0;
      padding-right: 0;
      margin-left: 0;
      margin-right: 0;
      box-shadow: 0 0 0 var(--bs-gray-500);
      background: none;
    }
  }
}

.navbar .container {
  padding-left: 0;
  padding-right: 0;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 1);
  font-weight: 500 !important;
}

.card.card-with-bg {
  box-shadow: 0px 0px 2px 0 #c0c0c0;

  .card-title {
    margin-left: -16px;
    margin-right: -16px;
    margin-top: -16px;
    margin-bottom: 16px;
    padding: 0.8em 1.2em;
    font-weight: bold;
    font-size: 1.2em;
    background-color: #F5F5F5;
  }
}

.navbar-profile {
  padding-top: 2em;
  @media screen and (min-width: 560px){
    padding-top: 0;
  }

  .dropdown-toggle::after {
    @media screen and (max-width: 560px){
      display: none;
    }
  
  }
  
  .dropdown-menu {
    left: auto;
    right: 0;
    @media screen and (min-width: 560px) {
      width: 300px
    }
  }
}

.navbar-profile .nav-link {
  font-size: 1em;
  font-weight: 300 !important;
}

/* Content */

#container-main {
  padding: 5px 0;
}

/* Breadcrumb */

.breadcrumb-sector {
  padding: 2rem 0 1rem 0;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  border-bottom: 1px dotted #d9d9d9;
}

.breadcrumb-sector .quota-indicator {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .breadcrumb-sector .quota-indicator {
    margin-right: 1.2rem;
    display: inline-block;
  }
}

.breadcrumb {
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: transparent;
}

@media only screen and (max-width: 368px) {
  .breadcrumb {
    font-size: 0.825em;
  }
}

.btn-light {
  color: #111;
  background-color: #f8f9fa;
  border-color: #dadada;
}

.btn-primary {
  background-color: $primary-button-color;
  border-color: $primary-button-color;
  color: white;
}

.btn-primary:hover {
  color: white;
  background-color: #8a8aab;
  border-color: $primary-button-color;
}

.page-item.active .page-link {
  z-index: 2;
  color: #fff;
  background-color: #8a8aab;
  border-color: #8a8aab;
}

/* Terms of Service */
.terms-of-service {
  padding: 2rem;
}

/* Dashboard */

/* Getting Started / Feed */

.jumbotron {
  padding: 1rem 2rem 0rem 2rem;
  margin-bottom: 2rem;
  background-color: rgba(233, 236, 239, 0.36);
  border-radius: 0;
  border: 1px solid #e9ecef;
}

// .getting-started {}

// @media only screen and (min-width: 575px) {
//   .getting-started .btn {
//     font-size: 0.975rem;
//   }
// }

// @media only screen and (min-width: 769px) {
//   .getting-started .btn {
//     font-size: 1.25rem;
//   }
// }

.feed-dashboard {
  padding: 2rem 1rem;
  margin-top: 2rem;
  border-top: 1px dotted #d9d9d9;
}

.feed-dashboard h2 {
  font-weight: 600;
}

.list-feed {
  margin-top: 2rem;
}

.list-feed .badge-light {
  background-color: #e8e8e8;
  font-weight: 300;
  padding: 0.4rem;
  margin-right: 0.2rem;
}

.list-feed li {
  margin-bottom: 0.5rem;
}

// .list-feed li a { /*color: #3F3F3F;*/ }

/* Devices */

/* Devices list*/
.table-light-header th {
  font-weight: normal;
}

.list-sector {
  @media screen and (max-width: 560px){
    max-width: 92vw;
  }
  .table {
    border: none;
    margin-top: 2em;
    th {
      font-size: 0.95em;
    }

    td,
    th {
      white-space: nowrap;
      word-break: keep-all;
    }

    .error {
      white-space: normal;
      word-break: normal;
    }

    .status-led {
      width: 0.825em;
      height: 0.825em;
      border-radius: 100%;
      display: inline-block;
      vertical-align: middle;
      margin-right: 0.25em;
    }

    .progress-revision {
      font-size: 0.925em;
    }

    td.timestamp,
    td.step-time {
      font-size: 0.875em;
    }
  }
}

/* Editable Element */

.editable {
  .editable-inner,
  i.mdi-cloud-upload,
  i.mdi-pencil,
  i.mdi-cancel,
  i.mdi-content-save {
    padding: 0;
    transition: padding 0.5s, background 0.5s, border 0.5s;
  }
  .editable-inner {
    margin-right: 0.3em;
  }
  i {
    cursor: pointer;
  }
  .editable-inner[contenteditable='true'] {
    background-color: rgba(233, 236, 239, 0.36);
    border: 1px solid #e9ecef;
    padding: 0 1rem;
    outline: none;
  }
}

/* Loading widget */
.pantahub-loading-wrapper {
  padding: 0.75rem;
  border-radius: 100%;
  margin: 0.5rem;
  display: flex;
  justify-items: center;
  justify-content: center;
}

.pantahub-loading {
  animation-duration: 6s;
  animation-name: spin;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  box-sizing: border-box;
  display: inline-block;
  max-height: 100px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Device metadata */
.device-meta .meta-key {
  min-width: 14rem;
  width: 30%;
}

.blog {
  padding-top: 3em;
  img {
    max-width: 100%;
  }
}

.device-meta td {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
  font-size: 0.925rem;
  padding-top: 0.5rem ;
  padding-bottom: 0.5rem ;
  pre {
    margin-bottom: 0;
  }
  @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
    max-width: 30vw;
  }
}

.device-meta .actions {
  text-align: right;
}

.device-meta .new-entry-header td {
  padding-bottom: 0;
}

.device-meta .new-entry-header td label {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  margin-bottom: 0;
}

.device-meta .new-entry-form td {
  border-top: none;
  padding-top: 0;
}

.device-meta .new-entry-form .textarea,
.device-meta .new-entry-form input[type='text'] {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
  font-size: 0.825rem;
}

.device-meta .metadata-edit.new-entry-form td {
  padding-top: 12px;
}

// Reference Pantacor colours with corresponding Hex values.
.PantacorPurple {
  color: #414262;
}
.Strikemaster {
  color: #7F587D;
}
.TurkishRose {
  color: #BF6B85;
}
.Apricot {
  color: #F08B7C;
}
.Rajah {
  color: #F5BB71;
}
.Amulet {
  color: #76A678;
}
.Valencia {
  color: #D33D48;
}

.PantacorPurpleBg {
  background-color: #414262;
  color: #FFFFFF;
}
.StrikemasterBg {
  background-color: #7F587D;
  color: #FFFFFF;
}
.TurkishRoseBg {
  background-color: #BF6B85;
  color: #FFFFFF;
}
.ApricotBg {
  background-color: #F08B7C;
  color: #FFFFFF;
}
.RajahBg {
  background-color: #F5BB71;
  color: #FFFFFF;
}
.AmuletBg {
  background-color: #76A678;
  color: #FFFFFF;
}
.ValenciaBg {
  background-color: #D33D48;
  color: #FFFFFF;
}

.drap-drop-area {
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 100%;
  font-family: sans-serif;
  margin: 1em auto;
  padding: 1em;
  text-align: center;
  cursor: pointer;
}

.drap-drop-area.highlight {
  border-color: purple;
}

.center-box {
  margin: 0 auto;
}